<div class="content_wrapper">
	<h2> Services </h2>
	<p>We provide two major services - VoIP Resell and VoIP Wholesale. VoIP Wholesale services are automated and instant while VoIP Resell services are not.</p>
	<div id="vr_vw_wrapper">
		<div id="vr">
		<h3>VoIP Resell</h3>
			<ul>
				<li>Being updated</li>
			</ul>
		</div>
		<div id="vw">
			<h3>VoIP Wholesale</h3>
			<ul>
				<li>sign up first: </li>
				<li><%= image_tag("services_vw_signup.jpg") %></li><br>
				<li>add payment after signing up</li>
				<li><%= image_tag("services_vw_add_payment.jpg") %></li><br>
				<li>login into your account and add your ip addresses</li>
				<li><%= image_tag("services_vw_login.jpg") %></li><br>
				<li>finally, start sending traffics</li>
			</ul>
		</div>
	</div>
</div>
