<div class="content_wrapper">
	<h1><strong><%= "Reseller Program" %></strong></h1>
	<div class="content_wrapper">

	<div id="service_wrapper">
		<p><strong>Introduction</strong></p>
        <p>IVGC provides the best opportunity for you to start your own VoIP reseller business. You can earn revenue each month by offering high quality termination solutions to both end users and businesses. There are no contracts and no minimums, so you can grow your customer base as slowly or as quickly as you want.</p>
		<p><strong>Online Portal</strong></p>
		<p>To get started, our technicians will contact you to find out exactly what you'd like to accomplish. Then, based on your needs, we will create a customized online portal for you to manage your termination business. You'll be able to immediately start selling minutes to your customers, and start making money.</p>

		<p><strong>Internet Cafés & Call Shops</strong></p>
		<p>If you would like to open up a call shop or internet café, or sell VoIP to one, IVGC can provide you a simple, seamless solution.</p>
		<p><strong>SIP Trunking</strong></p>
		<p>Our cost-effective and easy-to-use system typically saves most customers up to 80% on their phone bill each month. Let us know what system your customer currently has in place, and we'll walk you through integration.</p>
		<p><strong>Origination & Termination</strong></p>
		<p>IVGC can get you set up today reselling origination and termination services with great quality and low calling rates. Sign up through our easy-to-use online portal, and we'll get you set up and selling in no time.</p>
		<div id="left_section_home" class="wholesale_link">
		<article><%= link_to "Sign up as a reseller", voip_resellers_path %></article>
		</div>
	</div>
</div>