<div class="content_wrapper">
	<h1><strong><%= "Wholesale Termination" %></strong></h1>
	<div class="content_wrapper">

	<div id="service_wrapper">

		<p><strong>Online Portal</strong></p>
		<p>Setup and management is free and easy. Access your account online 24/7. Easily manage calls and reports, add or remove IP addresses, get full-service support through our ticket system, handle payments and minutes in real time, and much more. You'll have full control over your account, with all the benefits at your fingertips.</p>

		<p><strong>Easy Payment</strong></p>
		<p>Payments can be made via credit card (PayPal) or money transfer. You can start with as little as $1, with no contracts and no hidden fees. What's more is rates with IVGC are among the most competitive in the industry, so you can pay less for more minutes and never have to worry about the quality of the routes you're using.</p>

		<p><strong>Quality Service</strong></p>
		<p>PVGC only offers the highest quality routes, no matter how much you're paying. Technicians are always available to handle any troubleshooting help you may need through our online portal, so you're never left without a solution.</p>
		<p><strong>Best Rates</strong></p>
		<p>
		IVGC rates are and will always be among the most competitive in the industry. Rates are always transparent and made available to you, so you never have to wonder how much you're paying. Check out our rates page and compare.
		</p>
		<div id="left_section_home" class="wholesale_link">
		<article><!--%= link_to "Buy wholesale routes", signups_path %--><%= link_to "Buy wholesale routes", voip_resellers_path %></article>
		</div>
	</div>
</div>