<div class="content_wrapper">
<h2> About Us </h2>
	<p>International Voice Global Connect(IVGS) is International Carrier Services (ICS) is a leading provider of international voice services to fixed, mobile, , and wholesale operators and service providers. IVGC combines global scale with sophisticated platform intelligence and call routing . IVGC's suite of flexible, scalable voice solutions empowers service providers to manage their operations and grow their businesses more efficiently and effectively.</p>
	<%= image_tag("about_make_it_easy_image.jpg") %><br><br>
	<%= image_tag("about_main_image.jpg") %>
</div>