<h1>Listing responses</h1>

<table>
  <tr>
    <th>Submitted</th>
    <th>Description</th>
  </tr>

<% @responses.each do |response| %>
  <tr>
    <td><%= response.created_at %></td>
    <td><%= response.description %></td>
  </tr>
<% end %>
</table>

<br />