// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#desc_wrapper {
	overflow: auto;
}
#bank_left {
	width: 44%;
	float: left;
}
#bank_right {
	width: 56%;
	float: right;
	padding:  0;
}

iframe {
 	width:90%; 
 	height: 600px; 
 	overflow-x: hidden; 
 	overflow-y: scroll;
 	border: 0px #600000 dotted;
 	margin: 0 0 10px 0; 
 	float: right;
	padding: 20px;	
}

.paypalPay{
	text-align:center;
}
#paypal, #wu, #bank {
	height: 40px;
	width: 400px;
	background-repeat: no-repeat;
	background-size: 87px 20px;
	background-position: 220px 2px;

}
#paypal {
	background-image: url('paypal-logo.png');	
}
#bank{
	background-image: url('bank-logo.png');
	background-size: 29px 30px;
	background-position: 250px 2px;
}
#wu{
	background-image: url('wu-logo.jpg');
}

.notice {
	font-size: 80%;
	font-weight: 300;
	color: green;
	text-align: center;
	margin-top: 10px;
}
.summary_box {
	border-radius: 3px;
	border: 1px #000 solid;
	font-size: 80%;
	margin-bottom: 10px;
	h3 {
		background-color: darken(#e42723, 20%);
		color: white;
		margin: 0;
		padding: 5px;
	}
}
#account_overview {
	
}
.summary_box table {
	border: none;
	margin: 10px;
	th {
		border-bottom: 1;
		border-top: 0;
		border-right: 0;
		border-left: 0;
		width: 20%;
		color: #600;
	}
	td {
		border: none;	
		padding: 5px;
	}
}
#top5 {
	width: 100%;
	display: block;
	margin-bottom: 15px;
	overflow: auto;
}
#top5 td, #top5 th {
	text-align: center;
}
#top5_minute {
	width: 49%;
	float: left;
	height: 100%;
}
#top5_cost {
	width: 49%;
	float: right;
	height: 100%;
}
#update_btn {
	background-color: #3498db;
	display: inline-block;
	margin-left: 90px;
	margin-bottom: 20px;
}
#update_btn:hover {
	background-color: green;
}
table#ip_list {
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
	th {
		background-color: darken(#CCC, 30%);
		color: #FFF;
		padding: 5px 10px;
	}
	td {
		font-size: 90%;
		span {
			a {
				color: red;
			}
		}
	}
}

#add_ip_field, #add_credit_block {
	text-align: center;	
	margin: 5px 0 20px 0;
	input[type="text"], input[type="number"] {
		padding: 5px;
		outline: none;
		width: 165px;
		height: 20px;
		border: 1px solid #CCC;
		border-radius: 5px;
		color: darken(red, 10%);
		font-size: 12px;
		transition: linear 0.4s;
	}
}

#add_credit_block {
	margin-top: 20px;
	padding-left: 50px;

}
#add_credit_btn {
	width: 100px;
	margin: auto;
}
#filter_cdr {
	border: 1px lighten(#CCC, 0%%) solid;
	padding: 0 0 10px 0;
	border-radius: 5px;
	margin: 20px 0;
}
section#cdr_block_wrapper {
	
}
h2 {
	color:#000;
	font-style:sans-serif;
	font-size:15px;
	display:inline;
}