#left_section_rates {
	width: 440px;
}
#right_section_rates {
	width: 320px;
}

#left_section_rates header {
	font-size: 1.6rem; 
	font-weight: 600;
	margin: 20px 0 0 0;
}
#left_section_rates h3 {
	font-weight: 200;
	margin-top: 5px;
}
#right_section_rates h3 {
	margin: 20px 0 0 20px;
	padding: 0;
}



.slider-wrapper { 
	width: 800px; 
	margin-top: 5px;

}
iframe {
 	width:90%; 
 	height: 600px; 
 	overflow-x: hidden; 
 	overflow-y: scroll;
 	border: 1px #600000 solid;
 	margin: 10px 0; 
 	float: right;
	padding: 3px; 	
 }
 
