// Place all the styles related to the rates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#rates_wrapper {
	overflow: auto;
}
#rates_left {
	width: 59%;
	float: left;
	padding:  0;
}
#rates_right {
	width: 40%;
	float: right;
}
h4 {
	text-align: left;
}
iframe {
 	width:90%; 
 	height: 600px; 
 	overflow-x: hidden; 
 	overflow-y: scroll;
 	border: 0px #600000 dotted;
 	margin: 0 0 10px 0; 
 	float: right;
	padding: 20px; 	
 }

