// Place all the styles related to the rates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#rates_wrapper {
	overflow: auto;
}
#rates_left {
	width: 52%;
	float: left;
	padding:  0;
}
#rates_right {
	width: 47%;
	float: right;
}
h4 {
	text-align: left;
}
