// Place all the styles related to the rates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#rates_wrapper {
	overflow: auto;
}
#rates_left {
	width: 55%;
	float: left;
	padding:  0;
}
#rates_right {
	width: 44%;
	float: right;
}
h4 {
	text-align: left;
}

#routes, #manage, #monitoring, #payments{
	height: 40px;
	width: 400px;
	background-repeat: no-repeat;
	background-size: 50px 40px;
	background-position: 300px -6px;
}
#rates_left {
	ul {
		margin: 20px 0 0 20px;
		list-style: none;
		li {
			background-repeat: no-repeat; 
    		background-position: left top;
    		background-size: 30px 30px;
    		margin: 1.00em 0 0 -20px;
    		padding: 0 0 0 40px;
		}
		li:nth-child(1) {
				background-image: url('route.png');
		}
		li:nth-child(2) {
				background-image: url('manage.png');
		}
		li:nth-child(3) {
				background-image: url('monitor.png');
		}
		li:nth-child(4) {
				background-image: url('payment.png');
		}
	}
}
iframe {
 	width:90%; 
 	height: 600px; 
 	overflow-x: hidden; 
 	overflow-y: scroll;
 	border: 0px #600000 dotted;
 	margin: 0 0 10px 0; 
 	float: right;
	padding: 20px; 	
 }

