h3 {
	font-weight: 300;
	text-align: center;
}
#country_code input[type="text"] {
	width: 40px;
	float: left;
	clear: both;
	margin-right: 5px;
}

#phone input[type="text"] {
    width: 177px;
 }
#sign_up_btn {
	background-color: #3498db;
	display: inline-block;
	margin: 20px 0 20px 90px;
}
#sign_up_btn:hover {
	background-color: green;
}
.radio_btn_group {
	margin: 5px 0 10px 0;
	padding: 5px;
	overflow: auto;
	border-radius: 5px;
	width: 140%;
	#left {
		width: 49%;
		float: left;
	}
	#right {
		width: 49%;
		float: right;
	}
	input {
		display: inline;
		margin-right: 5px;
		margin-bottom: 10px;
	}
}