h3 {
	font-weight: 300;
	text-align: center;
}
#country_code input[type="text"] {
	width: 40px;
	float: left;
	clear: both;
	margin-right: 5px;
}

#phone input[type="text"] {
    width: 177px;
 }
#sign_up_btn {
	background-color: #3498db;
	display: inline-block;
	margin: 20px 0 20px 90px;
}
#sign_up_btn:hover {
	background-color: green;
}