<div class="content_wrapper">
	<h2> Rates </h2>
	<div id="rates_wrapper">	
		<div id="rates_left">
			<p>
				IVGC was built for carriers that require high quality termination coupled with competitive rates and ease of use. Every route has four or more redundant carriers and undergoes strict quality testing to ensure a high answer-seizure ratio. We provide full ASR and ACD benchmarks for routes around the globe as well as CLI support on most routes. The product is bundled with 24/7 real-time CDR traffic monitoring and top-of-the-line customer care from our international support team.
			</p>
			<ul>
				<li>
					<div id="routes">
						<h4>Routes</h4>
					</div>
					<p>The Premium A-Z is a combination of in-country operated routes through niche carriers backed with multiple Tier 1 A-Zs for maximum possible completion. Our QoS specialists will work with your traffic to make sure you are getting the best quality possible over your network.</p>
				</li>
				<li>
					<div id="manage">
						<h4>Rate and Code Management</h4>
					</div>
					<p>The most accurate A-Z codes and rates are sent via e-mail and posted online on a monthly basis to eliminate excessive management. If you need more competitive rates all you need to do is ask your account manager and they will do their best to accommodate you.</p>
				</li>
				<li>
					<div id="monitoring">
						<h4>Monitoring Tools</h4>
					</div>
					<p>Our online tools provide 24/7 real-time monitoring of all your traffic including ASR, ACD, PDD, and your balance. </p>
				</li>
				<li>
					<div id="payments">
						<h4>Payments</h4>
					</div>
					<p>Pay-as-you-go via multiple payment options including: Credit Card, Paypal, Wires, ACH and Cash deposits. We have low minimums to start and dedicated billing specialists.</p>
				</li>
			</ul>
		</div>
		<div id="rates_right">
			<iframe src="<%= url_for :action => 'displayRate' %>" border="0">
			</iframe>
		</div>
	</div>
	<%if session[:admin] == true %>

	<%= form_tag import_rates_path, multipart: true do %>
	  <%= file_field_tag :file %><br>
	  <%= submit_tag "Import" %>
	<% end %>

	<% end %>
</div>
