<style>
p {
	text-decoration: none;
	color: blue;
}
</style>
<p>
1. In order to process the money transfer use the information provided.<br><br>
2. Once the transaction is complete, simply enter the confirmation number and the amount.<br><br>
3. Next we notify you via email to confirm that the funds have been added to your account!<br><br>
4. ENJOY BEST QUALITY CALLS!
<br> For more info on western union please visit <%= link_to "Western Union", "http://www.westernunion.com/Home" %> 
</p>