<% if flash[:notice] %>
  <div class="notice" >
    <%= flash[:notice] %>
  </div>
<% end %>
| <%= link_to "Get account lists", "/accounts/accountList" %> |
<%= link_to "Profile Settings", "/accounts/updateAccount" %> |
<%= link_to "Manage my IPs", "/accounts/manageIP" %>